.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.divider {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.397);
}

.nftDisplay {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  columns: 3;
  margin: 32px 0;
}

.nftCard {
  width: 500px;
  height: auto;
  background-color: rgb(135, 230, 135);
  border-radius: 20px;
  overflow: hidden;
}

.imageSquare {
  width: 500px;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: whitesmoke;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.displayImage {
  max-width: 100%;
  width: auto;
  height: auto;
}

.details {
  padding: 12px;
}

.priceBox {
  height: 32px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 0 0.6em;
}

.ethSymbol {
  width: auto;
  height: 100%;
}

.price {
  margin: 0;
}

.from {
  margin: 0 0 0.5em;
}

.to {
  margin: 0;
}

.textLink {
  color: blue;
  text-decoration: underline;
}
