.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.divider {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.397);
}

.nftDisplay {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.nftCard {
  width: 260px;
  height: 420px;
  background-color: lightgreen;
  border-radius: 20px;
  overflow: hidden;
  margin: 16px 0;
  border: 1px solid #464646;
  box-shadow: 1px 3px 8px black;
  transition: transform 0.25s;

  &:not(:nth-child(4n)) {
    margin-right: 53px;
  }

  &:hover {
    transform: scale(105%, 105%);
  }

  &:active {
    transform: scale(95%, 95%);
  }
}

.imageSquare {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: whitesmoke;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.displayImage {
  max-width: 100%;
  width: auto;
  height: auto;
}

.details {
  padding: 12px 0;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.topDetails,
.midDetails,
.description,
.botDetails {
  padding: 0 16px;
  margin: 4px 0;
}

.topDetails,
.midDetails,
.botDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h4,
  p {
    margin: 0;
  }
}

.artist,
.priceText {
  font-size: 14px;
  font-weight: bold;
}

.description {
  margin: 0;
}

.price,
.tokenId {
  position: relative;
  font-size: 16px;
  font-weight: 800;
}

.priceSymbol {
  height: 16px;
}

.botDetails {
  margin: auto 0 0;
}

.quickBuy,
.like {
  background-color: white;
  border: 1px solid black;
  outline: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.5s;

  &:active {
    transform: scale(80%, 80%);
  }
}
